#study-options{
    #options-top-img{
        position: relative;
        margin-bottom: 40px;
        img{
            max-width: 100%;
        }
        h1{
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba($color: #202020, $alpha: 0.5);
            width: 100%;
            color: #fff;
            padding: 20px 30px;
            font-size:48px;
            font-weight: 700;
            margin: 0;
        }
    }
    .row{
        .col{
            img{
                max-width: 100%;
                width: 100%;
            }
            h3{
                font-weight: 700;
                font-size: 32px;
            }
            p{
                font-size: 28px;
            }
        }
    }
}