#nav-bar{
    display: block;
    .top-nav{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        .logo{
            height: 60px;
            cursor: pointer;
        }
        .navbar-nav{
            .nav-link{
                img{
                    height: 40px;
                    margin-right: 10px;
                }
                color: #000;
                font-weight: 700;
                margin: auto;
            }
        }
    }
    .bottom-nav{
        background: #0C07FB;
        color: #FFFFFF;
        width: 100%;
        padding: 10px 0;
        #navbar{
            font-weight: 700;
            font-size: 24px;
            width: 100%;
            .navbar-nav{
                width: 100%;
                justify-content: space-around;
                .nav-link{
                    color: #FFFFFF;
                    padding: 8px 10px;
                    border-radius: 26px;
                    &.active{
                        background-color: #FFFFFF;
                        color: #000;
                    }
                }
            }
        }
    }
}